@import 'font-awesome.min.css';
li {
  list-style: none;
}
body {
  background-color: #f8f8f8;
}
[id^=status-] {
  display: none;
}
.wraper {
  width: 100%;
}
.hd-user {
  float: right;
  font-size: 0;
}
.hd-user .avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #74a1e2;
}
.hd-user .avatar img {
  width: 100%;
  height: 100%;
}
.hd-user .uname {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 6px;
  padding: 0 10px;
}
.hd-user .uname:hover {
  background: #dfdfdf;
}
.hd-user .uname .uname-name {
  color: #5e5e5e;
  font-size: 16px;
  margin-right: 15px;
  vertical-align: middle;
}
.hd-user .uname .caret {
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  cursor: pointer;
}
.hd-user .logout {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #e40b0b;
}
.hd-user .logout:hover {
  background: #dfdfdf;
}
.side-nav {
  z-index: 1;
  position: absolute;
  width: 250px;
  margin-top: 51px;
  overflow: hidden;
  white-space: nowrap;
}
.side-nav ul {
  padding: 0;
}
.side-nav ul li i {
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}
.side-nav ul li i:before {
  width: 20px;
}
.main {
  position: inherit;
  margin: 0 0 0 250px;
  border-left: 1px solid #e7e7e7;
  background: #fff;
}
.main .nav-tabs {
  padding: 10px 20px 0px 20px;
  min-height: 43px;
}
.main .nav-tabs li > a img {
  width: 16px;
  height: 16px;
}
.main .nav-tabs li .icon-remove {
  display: none;
  position: absolute;
  right: 0px;
  top: -2px;
  font-size: 12px;
  cursor: pointer;
  z-index: 1;
}
.main .nav-tabs li:hover .icon-remove {
  display: block;
}
.main .tab-pages .tab-page {
  display: none;
  width: 100%;
  height: 100%;
}
.main .tab-pages .tab-page iframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}
.main .tab-pages .tab-page.active {
  display: block;
}
.main .toolbar {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.main .toolbar .btn i {
  margin-right: 5px;
}
.AppsList {
  margin-top: 10px;
}
.AppsList li {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  height: 90px;
  padding-top: 6px;
}
.AppsList li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
.AppsList li a img {
  width: 64px;
  height: 64px;
}
.AppsList li a span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.AppsList li:hover {
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0px ;
}
